#header{
    background-color: #ededed;
    height: 75px;
    border: 2px solid #3e524d;
}
#titulo{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-left: 15px;
}

#creditos{
    position: absolute;
    bottom: 0;
    left: 0;
}
#titulo-temario{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
.temario{
    border: black 2px solid;
    height: 350px;
    width: 200px;
    margin-top: 10px;
    background-color: #ededed;
}
.tema{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}